<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="text-light">
        <span></span>
        <span></span>
    </div>
    <form class="form-inline" action="/logout" method="POST">
        <button class="btn btn-outline-dark my-2 my-sm-0 text-light" type="submit">Logout</button>
    </form>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col bg-light text-dark d-flex flex-column vh-50">
            <div class="container">
                <div class="col">
                    <div class="col-lg-12 offset-lg py-5">
                        <h1 style="text-align: center;">Admin panel</h1>
                        <div class="card mt-5">
                            <div class="card-header">
                                <div class="row">
                                    <form action="/admin/gen" method="GET" class="d-inline">
                                        <button type="submit" class="btn btn-light">All Users</button>
                                    </form>
                                    <form class="ml-2" action="/admin/new">
                                        <button type="submit" class="btn btn-light">New User</button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-header">
                                <h2>All Users</h2>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Country</th>
                                        <th>Roles</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody id="userTable">


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--    add user-->

    <div class="row">
        <div class="col-md-6 bg-white text-primary d-flex flex-column vh-50">
            <div class="card-header">
                <div class="card-header">
                    <h5 class="card-title mb-0">Add New User</h5>
                </div>
                <div class="card-body">
                    <form method="post" action="/admin/gen">
                        <div class="form-group text-center">
                            <label for="firstName">Enter firsName</label>
                            <input type="text" id="firstName" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="lastName">Enter LastName</label>
                            <input type="text" id="lastName" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="country">Enter Country</label>
                            <input type="text" id="country" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="password">Enter Password</label>
                            <input type="password" id="password" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="roles">Roles</label>
                            <select id="roles" multiple>
                                <option></option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="button" id = "addBtn" class="btn btn-success">Add </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

<!--        edit user-->

        <div class="col-md-6 bg-white text-primary d-flex flex-column vh-100">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title mb-0">Edit User</h5>
                </div>
                <div class="card-body">
                    <form id="editUserForm">
                        <input type="hidden" id="editId"/>
                        <div class="form-group text-center">
                            <label for="editfirstName">Enter firstName</label>
                            <input type="text" id="editfirstName" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="editlastName">Enter lastName</label>
                            <input type="text" id="editlastName" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="editcountry">Enter country</label>
                            <input type="text" id="editcountry" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="editpassword">Enter Password</label>
                            <input type="password" id="editpassword" required/>
                        </div>
                        <div class="form-group text-center">
                            <label for="editroles">Roles</label>
                            <select id="editroles" multiple>

                            </select>
                        </div>
                        <div class="text-center">
                            <button type="button" id="updateBtn" class="btn btn-primary">Update</button>
                            <button type="button" id="cancelEditBtn" class="btn btn-secondary">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function fetchUsers() {
        $.ajax({
            url: "/admin/userData",
            type: "GET",
            dataType: "json",
            success: function(data) {
                var tableBody = $("#userTable");
                tableBody.empty();
                data.forEach(function(user) {
                    var row = "<tr>" +
                        "<td>" + user.id + "</td>" +
                        "<td>" + user.firstName + "</td>" +
                        "<td>" + user.lastName + "</td>" +
                        "<td>" + user.country + "</td>" +
                        "<td>" + user.roles.map(role => role.role).join(", ") + "</td>" +
                        "<td><button class='btn btn-primary btn-sm editBtn' data-id='" + user.id + "'>Edit</button></td>" +
                        "<td><button class='btn btn-danger btn-sm deleteBtn' data-id='" + user.id + "'>Delete</button></td>" +
                        "</tr>";

                    tableBody.append(row);
                });
            },
            error: function(xhr, status, error) {
                console.log("error while fetching user data: " + error);
            }
        });
    }



function generateRoles() {
    var preDefinedRoles = ["ROLE_ADMIN", "ROLE_USER"];
    var selectRoles = $("#roles");
    selectRoles.empty();
    preDefinedRoles.forEach(function(role) {
        selectRoles.append('<option value="' + role + '">' + role + '</option>');
    });
}

function fetchAndGenerateRoles() {
    generateRoles();
}

$(document).ready(function() {
    fetchAndGenerateRoles();
});


<!--    add User-->

$("#addBtn").click(function() {
    var firstName = $("#firstName").val();
    var lastName = $("#lastName").val();
    var country = $("#country").val();
    var password = $("#password").val();
    var roles = $("#roles").val();

    $.ajax({
        url: "/admin/addUser",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({
            firstName: firstName,
            lastName: lastName,
            country: country,
            password: password,
            roles: roles
        }),
        success: function(response) {
            alert( response.firstName + " has been added successfully");
            fetchUsers();

            $("#firstName").val("");
            $("#lastName").val("");
             $("#country").val("");
            $("#password").val("");
            $("#roles").val("");
        },
        error: function(xhr, status, error) {
            console.log("Error while adding new user: " + error);
        }
    });
});

<!---->

$(document).on("click", ".editBtn", function() {
    var id = $(this).data("id"); // Corrected this line
    $.ajax({
        url: "/admin/edit?id=" + id,
        type: "GET",
        datatype: "json",
        success: function(data) {
            $("#editId").val(data.id);
            $("#editfirstName").val(data.firstName);
            $("#editlastName").val(data.lastName);
            $("#editcountry").val(data.country);
            $("#editPassword").val(data.password);

            $("#editRoles").empty();
            data.roles.forEach(function(role) {
                 $("#editRoles").append('<option value="' + role.id + '">' + role.role + '</option>');
            });
            $("#editSection").show(); // Corrected this line
        },
        error: function(xhr, status, error) {
            console.log("error while editing: " + error);
        }
    });
});

<!--fetching roles ro edit-->

// Function to fetch roles and populate the dropdown
function fetchRolesForEditForm() {
    $.ajax({
        url: "/admin/roles",
        type: "GET",
        success: function(response) {
            var rolesSelect = $("#editroles");
            rolesSelect.empty(); // Clear previous options
            $.each(response, function(index, role) {
                rolesSelect.append("<option value='" + role.role + "'>" + role.role + "</option>");
            });
        },
        error: function(xhr, status, error) {
            console.log("Error while fetching roles: " + error);
        }
    });
}

// Call the function to fetch roles when the page is loaded or when the edit form is opened
$(document).ready(function() {
    fetchRolesForEditForm();
});


<!--update-->
$("#updateBtn").click(function() {
    var id = $("#editId").val();
    var firstName = $("#editfirstName").val();
    var lastName = $("#editlastName").val();
    var country = $("#editcountry").val();
    var password = $("#editpassword").val();
    var roles = $("#editroles").val();
    $.ajax({
        url: "/admin/user/update?id=" + id,
        type: "PUT",
        contentType: "application/json",
        data: JSON.stringify({
            id: id,
            firstName: firstName,
            lastName: lastName,
            country: country,
            password: password,
            roles: roles
        }),
        success: function(response) {
            alert("Do you want to update User?: " + response.firstName);
            $("#editSection").hide();
            fetchUsers();

            $("#editId").val("");
            $("#editfirstName").val("");
            $("#editlastName").val("");
            $("#editcountry").val("");
            $("#editpassword").val("");
            $("#editroles").val("");

        },
        error: function(xhr, status, error) {
            console.log("Can not update User: " + error);
        }
    });
});


<!--delete-->

$(document).on("click", ".deleteBtn", function() {
    var id = $(this).data("id");
    if (confirm("Do you really want to delete this user?")) {
        $.ajax({
            url: "/admin/user?id=" + id, // Corrected this line
            type: "DELETE",
            success: function(response) {
                fetchUsers();
            },
            error: function(xhr, status, error) {
                console.log("Can not delete user: " + error);
            }
        });
    }
});



    fetchUsers();
</script>

</body>
</html>
